In [153]:
# Importing

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split, cross_val_score

In [154]:
# Reading in data
ames_houses = pd.read_csv('./datasets/train.csv')

ames_house = pd.read_csv('./datasets/test.csv')

In [155]:
features = ['MS SubClass',
            'Lot Area',
            'Lot Config',
            'Overall Qual',
            'Overall Cond',
            'Exter Qual',
            'Exter Cond', 
            'Central Air',
            'Gr Liv Area',
            'Full Bath',
            'Functional',
            'Mo Sold',
            'Yr Sold',
           'Fireplaces',
           'Neighborhood',
           'Garage Area']

features_test = ['MS SubClass',
            'Lot Area',
            'Lot Config',
            'Overall Qual',
            'Overall Cond',
            'Exter Qual',
            'Exter Cond', 
            'Central Air',
            'Gr Liv Area',
            'Full Bath',
            'Functional',
            'Mo Sold',
            'Yr Sold',
           'Fireplaces',
           'Neighborhood',
           'Garage Area']

ames_train = ames_houses[features].copy()

ames_test = ames_house[features_test].copy()

In [156]:
ames_train['Garage Area'] = ames_train['Garage Area'].fillna(0)

ames_test['Garage Area'] = ames_test['Garage Area'].fillna(0)

In [157]:
X_train = pd.get_dummies(data=ames_train, columns=['Lot Config', 'Exter Qual',
                                                  'Exter Cond', 'Central Air',
                                                  'Functional', 'Neighborhood'], drop_first=True)
X_test = pd.get_dummies(data=ames_test, columns=['Lot Config', 'Exter Qual',
                                                  'Exter Cond', 'Central Air',
                                                  'Functional', 'Neighborhood'], drop_first=True)

In [177]:
X_train.shape

(2051, 52)

In [178]:
X_test.shape

(878, 52)

In [175]:
for column in X_train.columns:
    if column not in X_test.columns:
        print(column)

In [176]:
for column in X_test.columns:
    if column not in X_train.columns:
        print(column)

In [167]:
# For submission 2, dropped columns from X_train that were not in X_test

X_train = X_train.drop(columns=['Functional_Sal', 'Functional_Sev', 
             'Neighborhood_GrnHill', 'Neighborhood_Landmrk'])

In [103]:
# The push-through that I did for my first submission:

#X_train = ames_train._get_numeric_data()

#X_test = ames_test._get_numeric_data()

In [158]:
y = ames_houses['SalePrice']

In [168]:
X_train_1, X_test_1, y_train, y_test = train_test_split(X_train, y, random_state = 142)

In [169]:
lr_1 = LinearRegression()
lr_1.fit(X_train_1, y_train)

LinearRegression()

In [170]:
cross_val_score(lr_1, X_train_1, y_train).mean()

0.8204046467990487

In [171]:
lr_1.score(X_train_1, y_train)

0.841518282320641

In [172]:
lr_1.score(X_test_1, y_test)

0.8738350323484241

In [179]:
y_train_preds = lr_1.predict(X_train)

In [180]:
y_preds_2 = lr_1.predict(X_test)

In [181]:
ames_test['SalePrice'] = y_preds_2

In [182]:
ames_test['SalePrice']

0      142115.952177
1      161445.827548
2      201552.538341
3      120772.041911
4      176427.376861
           ...
873    189054.468614
874    213298.116766
875    139877.778768
876    106330.072618
877    138388.247116
Name: SalePrice, Length: 878, dtype: float64

In [183]:
ames_test['ID'] = ames_house['Id']

In [145]:
ames_test.isnull().sum()

MS SubClass     0
Lot Area        0
Lot Config      0
Overall Qual    0
Overall Cond    0
Exter Qual      0
Exter Cond      0
Central Air     0
Gr Liv Area     0
Full Bath       0
Functional      0
Mo Sold         0
Yr Sold         0
Fireplaces      0
Neighborhood    0
Garage Area     0
SalePrice       0
ID              0
dtype: int64

In [186]:
RMSE = np.sqrt(metrics.mean_squared_error(y, y_preds_1))

RMSE

37376.31193017699

In [187]:
submission_2 = ames_test[['ID']].copy()
submission_2['SalePrice'] = ames_test[['SalePrice']].copy()

In [188]:
submission_2.head()

     ID      SalePrice
0  2658  142115.952177
1  2718  161445.827548
2  2414  201552.538341
3  1989  120772.041911
4   625  176427.376861

In [189]:
submission_2.to_csv('./datasets/submission_2.csv', index=False)